{{ partial "header.html" . }}
<article class="p-article">
  <header>
    <h1>{{ .Title }}</h1>
    <div>
      {{ if not .Params.hideDate }}
      <div class="c-time">
        {{ partial "timestamp.html" . }}
      </div>
      {{ end }}
      {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}/" class="c-tag">{{ . }}</a>
      {{ end }}
    </div>
  </header>
  {{ with .Params.thumbnail }}
  <img src="{{ . }}" alt="thumbnail" class="p-article__thumbnail" style="max-height: 150px">
  {{ end }}
  <section id="js-article" class="p-article__body">
    {{ .Content }}
  </section>
  <footer>
    <nav class="p-pagination c-pagination">
      <div class="c-pagination__ctrl">
        <div class="c-pagination__newer">
          {{ if .NextInSection }}
          <a href="{{ .NextInSection.Permalink }}">Newer</a>
          {{ else }}
          {{ end }}
        </div>
        <div class="c-pagination__older">
          {{ if .PrevInSection }}
          <a href="{{ .PrevInSection.Permalink }}">Older</a>
          {{ else }}
          {{ end }}
        </div>
      </div>
    </nav>
    {{ partial "related.html" . }}
  </footer>
</article>
{{ partial "footer.html" . }}
