</main>
{{ partial "menu.html" . }}
<footer class="l-footer">
  {{ partial "link.html" . }}

  <p class="p-copyright">
    {{ $written := false -}}
    {{ with .File -}}
    {{ if ne .Path "" -}}
    <a href="https://github.com/kylrth/kylrth.com/commits/main/content/{{ .Path }}">page history</a>
    {{ $written = true -}}
    {{ end -}}
    {{ end -}}
    {{ if (not $written) -}}
    <a href="https://github.com/kylrth/kylrth.com">source code</a>
    {{ end -}}
  </p>
</footer>

</body>

</html>
