{{ $related := .Site.RegularPages.Related . | first 6 }}
{{ with $related }}
<section class="p-related">
  <h3>See Also</h3>
  <ul id="slider" class="p-related__list">
    {{ range . }}
    <li class="p-related__item js-related__item">
      <a href="{{ .RelPermalink }}"
        {{ if ((isset .Params "thumbnail" ) | and (ne .Params.thumbnail "" )) }}
        {{ $thumb := "" }}
        {{ if ((hasPrefix .Params.thumbnail "https://" ) | or (hasPrefix .Params.thumbnail "http://" )) }}
        {{ $thumb = .Params.thumbnail }}
        {{ else }}
        {{ $thumb = path.Join .RelPermalink .Params.thumbnail }}
        {{ end }}
        style="background-image: url({{ $thumb }});"
        {{ end }}>
        <span>{{ .Title }}</span>
      </a>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}
