{{ partial "header.html" . }}
{{ partial "menu.html" . }}
<img src="images/my_face.png" alt="my face" style="float:right;max-width:40%">
<div>
    <p>I'm a second-year computer science PhD student at <a
            href="https://diro.umontreal.ca/accueil/">DIRO</a> at the <a
            href="https://www.umontreal.ca/">Université de Montréal</a>, studying machine learning
        and NLP. I am advised by <a href="https://www-labs.iro.umontreal.ca/~liubang/">Bang Liu</a>,
        and I'm currently working on augmenting large language models (LLMs) to better interact with
        procedural knowledge. Here's my <a
            href="https://raw.githubusercontent.com/kylrth/resume/main/main.pdf">resume</a> (and the
        <a href="https://raw.githubusercontent.com/kylrth/resume/academic/main.pdf">academic
            version</a>).
    </p>
    <p>Previously I was a speech scientist at <a href="https://cobaltspeech.com">Cobalt Speech &
            Language</a>, a company that designs custom speech recognition, text-to-speech, and
        dialogue models. While at Cobalt I worked on some neat projects, including language modeling
        for recognizing air traffic control speech and creating an online training system for ASR
        models.</p>
    <p>I graduated from <a href="https://byu.edu">BYU</a> with a BS in Applied and Computational
        Mathematics (<a href="https://acme.byu.edu">ACME</a>) with an emphasis in linguistics and a
        minor in computer science. ACME's rigorous curriculum includes graduate-level courses in
        algorithms, analysis, optimization, statistics, data science, optimal control, and machine
        learning.</p>
    <p>During my undergrad I interned with Cobalt Speech, as well as <a
            href="https://emergenttrading.com">Emergent Trading</a>, an automated trading firm that
        <a
            href="https://www.wsj.com/articles/futures-exchange-reins-in-runaway-trading-algorithms-11572377375">made
            the news</a> for reporting a problem in a Eurodollar exchange rule that unfairly favored
        larger competitors. (I developed the analysis tools that were used to track the issue down
        and determine how our opponent was taking advantage of the rule.)
    </p>
</div>

<h2 id="contact">contact <span style="color:gray;font-size:20px">(he/him)</span> <a
        class="header-link" href="#contact"><svg class="c-links__icon">
            <title>permalink</title>
            <use xlink:href="#icon-permalink"></use>
        </svg></a></h2>
<p>
    Around the web I'm known by the username <code>kylrth</code>. I prefer to be contacted through
    the <a href="https://matrix.org">Matrix</a> protocol (<code>@kyle:kylrth.com</code>). (If you'd
    like an account on my Matrix server, follow the instructions <a
        href="post/matrix-registration/">here</a>.) My GPG public key is <a href="gpg.pub">here</a>.
</p>
<p align=center>
    <a href="https://matrix.to/#/@kyle:kylrth.com">Matrix</a>
    &nbsp/&nbsp
    <a href="mailto:kylrth@gmail.com">email</a> &nbsp/&nbsp
    <a href="https://github.com/kylrth">GitHub</a> &nbsp/&nbsp
    <a href="https://www.linkedin.com/in/kyle-roth/">LinkedIn</a> &nbsp/&nbsp
    <a href="tel.html">phone &nbsp/&nbsp WhatsApp &nbsp/&nbsp Signal</a> &nbsp/&nbsp
    <a href="session.html">Session</a>
</p>

<h2 id="research">research <a class="header-link" href="#research"><svg class="c-links__icon">
            <title>permalink</title>
            <use xlink:href="#icon-permalink"></use>
        </svg></a></h2>
<p>Here's my <a href="https://raw.githubusercontent.com/kylrth/resume/academic/main.pdf">academic
        CV</a>.</p>
<p>
    I'm currently developing methods to augment large language models to more effectively produce
    coherent procedures when the knowledge comes from retrieved documents. This is a <a
        href="https://www.mitacs.ca/en">Mitacs</a> collaboration with <a
        href="https://www.thalesgroup.com/en/americas/canada">Thales Canada</a>.
</p>

<h2 id="projects">other projects <a class="header-link" href="#projects"><svg class="c-links__icon">
            <title>permalink</title>
            <use xlink:href="#icon-permalink"></use>
        </svg></a></h2>
<a href="post/wordburner/"><img src="post/wordburner/icon.png" alt="WordBurner icon"
        style="float:left;width:30%;padding:10px 20px 30px 10px"></a>
<div style="overflow:hidden">
    <a href="post/wordburner/">
        <papertitle>WordBurner</papertitle>
    </a>
    <p>
        In my spare time I'm working on an app for language learners to use to develop their
        vocabulary. Users can add words to their active list, and the app will recommend additional
        words that they might also want to learn. In addition to my personal use <a
            href="post/learning-french/">learning French</a>, I hope this app will make it easier
        for
        displaced people to adapt to the culture where they find themselves, even when their
        language skills are already advanced.
    </p>
</div>
<div style="clear:both"></div>
<a href="https://github.com/jarednielsen/speech2phone"><img src="images/vowel_trapezoid.png"
        alt="the trapezoid used to picture vowels in phonology"
        style="float:left;width:30%;padding:0 20px 0 0"></a>
<div style="overflow:hidden">
    <a
        href="https://github.com/jarednielsen/speech2phone/blob/master/results/winter_semester_report.pdf">
        <papertitle>speech2phone</papertitle>
    </a>
    <p>
        <i>speech2phone</i> was a class project I worked on with two other ACME students our senior
        year. We tried to tackle the problem of phoneme recognition on the TIMIT corpus by splitting
        it into the tasks of segmentation and classification. We had some fun exploring various
        algorithms and architectures. We didn't yet have a good sense for the current state of the
        art research and so we sort of threw everything at the problem and watched what happened.
        You can see the repo <a href="https://github.com/jarednielsen/speech2phone">here</a> and the
        final report <a
            href="https://github.com/jarednielsen/speech2phone/blob/master/results/winter_semester_report.pdf">here</a>.
    </p>
</div>
<div style="clear:both"></div>

{{ partial "footer.html" . }}
