{{ partial "header.html" . }}
{{ partial "menu.html" . }}
<img src="images/my_face.png" alt="my face" style="float:right;max-width:40%">
<div>
    <p>I'm a master's student at <a href="https://diro.umontreal.ca/accueil/">DIRO</a> at the
        <a href="https://www.umontreal.ca/">Université de Montréal</a>, and I'm interested in NLP,
        linguistics, and machine learning. See the <a href="#research">research</a> section for some
        of the subtopics of machine learning that I find especially fascinating.
    </p>
    <p>Previously I was a speech scientist at <a href="https://cobaltspeech.com">Cobalt Speech &
            Language</a>, a company that designs custom speech recognition, text-to-speech, and
        dialogue models. While at Cobalt I worked on some neat projects, including language modeling
        for recognizing air traffic control speech and creating an online training system for ASR
        models.</p>
    <p>I love using math and code to solve complex problems. I graduated from <a
            href="https://byu.edu">BYU</a> with a BS in Applied and Computational Mathematics (<a
            href="https://acme.byu.edu">ACME</a>) with an emphasis in linguistics and a minor in
        computer science. (ACME coursework focuses on the rigorous math for data science, modeling,
        optimal control, and machine learning.)</p>
    <p>During my undergrad I interned with Cobalt Speech, as well as <a
            href="https://emergenttrading.com">Emergent Trading</a>, an automated trading firm that
        <a
            href="https://www.wsj.com/articles/futures-exchange-reins-in-runaway-trading-algorithms-11572377375">made
            the news</a> for reporting a problem in a Eurodollar exchange rule that unfairly favored
        larger competitors. (I developed the analysis tools that were used to track the issue down
        and determine how our opponent was taking advantage of the rule.)
    </p>
</div>

<h2 id="contact">contact <span style="color:gray;font-size:20px">(he/him)</span></h2>
<p>
    Around the web I'm known by the username <code>kylrth</code>. I prefer to be contacted through
    the <a href="https://matrix.org">Matrix</a> protocol (<code>@kyle:kylrth.com</code>). (If you'd
    like an account on my Matrix server, follow the instructions <a
        href="post/matrix-registration">here</a>.) My GPG public key is <a href="gpg.pub">here</a>.
</p>
<p align=center>
    <a href="https://matrix.to/#/@kyle:kylrth.com">Matrix</a>
    &nbsp/&nbsp
    <a href="mailto:kylrth@gmail.com">email</a> &nbsp/&nbsp
    <a href="https://github.com/kylrth">GitHub</a> &nbsp/&nbsp
    <a href="https://www.linkedin.com/in/kyle-roth/">LinkedIn</a>
    &nbsp/&nbsp
    <a href="https://raw.githubusercontent.com/kylrth/resume/main/main.pdf">resume</a>
</p>

<h2 id="research">research</h2>
<p>
    My first foray into ML research was when I received a grant to apply a variable-order CRF model
    to a morphological parsing task in Basque, <a href="http://jur.byu.edu/?p=24280">achieving</a>
    71.3% accuracy. A few months later I started working with the <a
        href="https://camacholab.byu.edu/research/computational-photonics">computational
        photonics</a> group at <a href="https://camacholab.byu.edu/">CamachoLab</a>, where I worked
    to simulate photonic components using DNNs as replacements for expensive FDTD simulations when
    designing chip components.
</p>
<p>Here are some of my current interests:</p>
<ul>
    <li>I'm curious about the <b>relationship between representation</b> (how intelligence thinks)
        <b>and language</b> (how intelligence communicates). I think if we can improve our
        understanding of how humans learn and use language, we will come closer to understanding the
        tools necessary to build the "system 2 cognitive abilities" that Yoshua Bengio has <a
            href="/paper/consciousness-prior">talked about</a>.
    </li>
    <li>My most important moral principle is <b>helping others</b>, especially those who are
        marginalized or impoverished. The rapid growth of technology can exacerbate inequality, but
        I also think there are many social problems that can be solved with machine learning. I get
        most passionate about helping refugees and migrants, reducing language barriers, and
        improving racial and cultural inequality.</li>
    <li>attention mechanisms (see <a
            href="https://github.com/kylrth/attention_review/blob/master/main.pdf">this literature
            review</a> I wrote on the subject) and other architectural components that allow models
        to create natural internal representations</li>
    <li>developing better theories about how networks learn (maybe because <a
            href="/paper/parameter-function-map-biased-to-simple">deep learning is biased toward
            simple functions</a>?)</li>
</ul>

<h2 id="projects">projects</h2>
<p>
    In my spare time I'm working on an <b>app for language learners</b> to use to develop their
    vocabulary. Users can add words to their active list, and the app will recommend additional
    words that they might also want to learn. I hope this app will make it easier for displaced
    people to adapt to the culture where they find themselves, even when their language skills are
    intermediate or advanced.
</p>
<p>Here are some projects I've worked on:</p>
<a href="https://github.com/kylrth/attention_review/blob/master/main.pdf"><img
        src="images/attention.png" alt="attention graph for a sample sentence in NMT"
        style="float:left;width:30%;padding:0 20px 0 0"></a>
<div style="overflow:hidden">
    <a href="https://github.com/kylrth/attention_review/blob/master/main.pdf">
        <papertitle>an attention review</papertitle>
    </a>
    <p>
        I felt I had a poor understanding of attention mechanisms, so for a writing assignment I
        created a literature review of the important work being done with neural attention. I wrote
        about the various formulations of attention found in the literature, and discussed important
        applications. I learned a lot as I studied this. You can check out my write-up <a
            href="https://github.com/kylrth/attention_review/blob/master/main.pdf">here</a>.
    </p>
</div>
<div style="clear:both"></div>
<a href="https://github.com/jarednielsen/speech2phone"><img src="images/vowel_trapezoid.png"
        alt="the trapezoid used to picture vowels in phonology"
        style="float:left;width:30%;padding:0 20px 0 0"></a>
<div style="overflow:hidden">
    <a
        href="https://github.com/jarednielsen/speech2phone/blob/master/results/winter_semester_report.pdf">
        <papertitle>speech2phone</papertitle>
    </a>
    <p>
        <i>speech2phone</i> was a class project I worked on with two other ACME students our senior
        year. We tried to tackle the problem of phoneme recognition on the TIMIT corpus by splitting
        it into the tasks of segmentation and classification. We had some fun exploring various
        algorithms and architectures. We didn't yet have a good sense for the current state of the
        art research and so we sort of threw everything at the problem and watched what happened.
        You can see the repo <a href="https://github.com/jarednielsen/speech2phone">here</a> and the
        final report <a
            href="https://github.com/jarednielsen/speech2phone/blob/master/results/winter_semester_report.pdf">here</a>.
    </p>
</div>
<div style="clear:both"></div>
<a href="https://github.com/kylrth/slurm_gen" style="width:30%"><img src="images/slurm.png"
        alt="SLURM logo" style="float:left;width:30%;padding:10px 20px 30px 10px"></a>
<div style="overflow:hidden">
    <a href=" https://github.com/kylrth/slurm_gen">
        <papertitle>SLURM_gen</papertitle>
    </a>
    <p>
        SLURM_gen makes it easy to generate and handle arbitrarily-sized
        datasets on a SLURM HPC environment. I used this tool during my
        undergrad while working on computational photonics research. (I used
        the BYU supercomputer to generate FDTD simulations, which were then
        used as training data for the neural network model.)
    </p>
</div>
<div style="clear:both"></div>
<a href="https://github.com/kylrth/ngramtweets"><img src="images/twitter.jpg"
        alt="Twitter image created by Shawn Campbell. See attribution below."
        style="float:left;width:30%;padding:0 20px 0 0"></a>
<div style="overflow:hidden">
    <a href="https://github.com/kylrth/ngramtweets">
        <papertitle>ngramtweets</papertitle>
    </a>
    <p>
        An n-gram text generator that handles punctuation and end-of-tweet
        along with the words. It tries to use hashtags, @-mentions, and URLs
        correctly.
    </p>
</div>
<div style="clear:both"></div>

<p style="font-size:12px;text-align:right">
    This homepage has suspicious similarities to Jon Barron's <a
        href="https://github.com/jonbarron/jonbarron_website">template</a>.
</p>
<p style="font-size:12px;text-align:right">
    Twitter image <a href="https://www.flickr.com/photos/thecampbells/5042764163">created</a> by
    Shawn Campbell and used according to the terms of the <a
        href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> license.
</p>

{{ partial "footer.html" . }}
