{{ partial "header.html" . }}
{{ partial "menu.html" . }}
<img src="images/my_face.png" alt="my face" style="float:right;max-width:40%">
<div>
    <p>I'm a third-year computer science PhD student at <a
            href="https://diro.umontreal.ca/accueil/">DIRO</a> at the <a
            href="https://www.umontreal.ca/">Université de Montréal</a>, advised by <a
            href="https://www-labs.iro.umontreal.ca/~liubang/">Bang Liu</a>. I study the structured
        use of LLMs within larger pipelines and agent systems, from both robustness and
        sociotechnical perspectives. Here's my
        <a href="https://raw.githubusercontent.com/kylrth/resume/main/main.pdf">resume</a> (and the
        <a href="https://raw.githubusercontent.com/kylrth/resume/academic/main.pdf">academic
            version</a>).
    </p>
    <p>Previously I was a speech scientist at <a href="https://cobaltspeech.com">Cobalt Speech &
            Language</a>, a company that designs custom speech recognition, text-to-speech, and
        dialogue models. While at Cobalt I worked on some neat projects, including language modeling
        for recognizing air traffic control speech and creating an online training system for ASR
        models.</p>
    <p>I graduated from <a href="https://byu.edu">BYU</a> with a BS in Applied and Computational
        Mathematics (<a href="https://acme.byu.edu">ACME</a>) with an emphasis in linguistics and a
        minor in computer science. ACME's rigorous curriculum includes graduate-level courses in
        algorithms, analysis, optimization, statistics, data science, optimal control, and machine
        learning.</p>
    <p>During my undergrad I interned with Cobalt Speech, as well as <a
            href="https://emergenttrading.com">Emergent Trading</a>, an automated trading firm that
        <a
            href="https://www.wsj.com/articles/futures-exchange-reins-in-runaway-trading-algorithms-11572377375">made
            the news</a> for reporting a problem in a Eurodollar exchange rule that unfairly favored
        larger competitors. (I developed the analysis tools that were used to track the issue down
        and determine how our opponent was taking advantage of the rule.)
    </p>
</div>

<h2 id="contact">contact <span style="color:gray;font-size:20px">(he/him)</span> <a
        class="header-link" href="#contact"><svg class="c-links__icon">
            <title>permalink</title>
            <use xlink:href="#icon-permalink"></use>
        </svg></a></h2>
<p>
    Around the web I'm known by the username <code>kylrth</code>. I prefer to be contacted through
    the <a href="https://matrix.org">Matrix</a> protocol (<code>@kyle:kylrth.com</code>). (If you'd
    like an account on my Matrix server, follow the instructions <a
        href="post/matrix-registration/">here</a>.) My GPG public key is <a href="gpg.pub">here</a>.
</p>
<p align=center>
    <a href="https://matrix.to/#/@kyle:kylrth.com">Matrix</a>
    &nbsp/&nbsp
    <a
        href="https://signal.me/#eu/fjjIIGtYvxhXmLRkbbO_Am23xKejp-ijgwSnyc1v9WJM-BeDqvdOyLlhUWZy6WRR">Signal</a>
    &nbsp/&nbsp
    <a href="session.html">Session</a> &nbsp/&nbsp
    <a href="mailto:kylrth@gmail.com">email</a> &nbsp/&nbsp
    <a href="https://github.com/kylrth">GitHub</a> &nbsp/&nbsp
    <a href="https://www.linkedin.com/in/kyle-roth/">LinkedIn</a>
</p>

<h2 id="research">research <a class="header-link" href="#research"><svg class="c-links__icon">
            <title>permalink</title>
            <use xlink:href="#icon-permalink"></use>
        </svg></a></h2>
<p>Here's my <a href="https://raw.githubusercontent.com/kylrth/resume/academic/main.pdf">academic
        CV</a>.</p>
<p>
    Several of my projects center on providing LLM systems with formal structure for procedural
    (how-to) knowledge. Providing explicit structure for procedure planning allows developers and
    users to "open the hood" on the planning and action phases of a pipeline, and allows us to build
    "skill libraries" of procedures that can be adapted to new tasks.
</p>
<a href="https://arxiv.org/abs/2409.01344"><img src="images/icon_aag.png"
        alt="icon of a procedural knowledge database"
        style="float:left;width:30%;padding:10px 20px 30px 10px"></a>
<div style="overflow:hidden">
    <a id="aag" href="https://arxiv.org/abs/2409.01344">
        <papertitle>analogy-augmented generation</papertitle>
    </a>
    <p>
        We developed a simple formalism for procedural knowledge, built a custom retrieval system
        using this formal structure, and designed a custom LLM pipeline to retrieve and adapt known
        procedures to new tasks by analogy. We test this system on three datasets: cooking recipes,
        coding tutorials, and step-by-step math solutions. This version is <a
            href="https://arxiv.org/abs/2409.01344">on arXiv</a>, and we're now building a version
        that uses a more complex, graph-based formalism.
    </p>
</div>
<div style="clear:both"></div>
<img src="images/icon_redharbour.webp" alt="RedHarbour icon"
    style="float:left;width:30%;padding:10px 20px 30px 10px">
<div style="overflow:hidden">
    <papertitle>RedHarbour</papertitle>
    <p>
        I am currently leading a project to design an open-source, privacy-oriented, extensible chat
        UI and LLM application framework. The application framework defines a set of "skills" as
        Python code that calls upon resources such as LLMs, retrievers, local files, conversational
        memory, multi-modal models, or web services. These sandboxed skill scripts can be developed
        and shared by humans, or automatically generated and fine-tuned using LLMs. The project is
        designed to logically separate the skill system from the local UI application so the former
        can be generally applicable in new environments. This will build on the formal
        representations we have developed for <a href="#aag">AAG</a>.
    </p>
</div>
<div style="clear:both"></div>
<img src="images/icon_code_search.png" alt="annealing results plot for code search project"
    style="float:left;width:30%;padding:10px 20px 30px 10px">
<div style="overflow:hidden">
    <papertitle>code search</papertitle>
    <p>
        In this work we developed a pipeline that first searches over unique functions called in the
        codebase, then leverages a standard static analysis tool to find all snippets that call the
        top functions, and finally checks those snippets using several dense models of varying sizes
        (and runtimes) to selectively filter these snippets by each model's confidence. The
        thresholds of this pipeline are optimized for search speed using simulated annealing over a
        small dataset of query-snippet pairs, with a constraint on false positives and false
        negatives. This system has been deployed in production on the <a
            href="https://www.moderne.ai/">Moderne</a> platform to perform high-quality code search
        on industrial-scale codebases.
    </p>
</div>
<div style="clear:both"></div>

<h2 id="other">other stuff <a class="header-link" href="#other"><svg class="c-links__icon">
            <title>permalink</title>
            <use xlink:href="#icon-permalink"></use>
        </svg></a></h2>
<ul>
    <li>other projects:</li>
    <ul>
        <li><b><a href="post/wordburner/">WordBurner</a></b> (in development): an app for language
            learners to use to develop their vocabulary. Users can add words to their active list,
            and the app will recommend additional words that they might also want to learn. In
            addition to my personal use <a href="post/learning-french/">learning French</a>, I hope
            this app will make it easier for displaced people to adapt to the culture where they
            find themselves, even when their language skills are already advanced.</li>
    </ul>
    <li><a href="tags/self-hosted/">my posts about self-hosting</a></li>
    <li>fun websites:</li>
    <ul>
        <li><a href="https://unicornycopia.com/ezm/">https://unicornycopia.com/ezm/</a></li>
        <li><a
                href="https://potatoware.alienmelon.com/potatoware.html">https://potatoware.alienmelon.com/potatoware.html</a>
        </li>
        <li><a href="https://www.pizzabouquet.ca/">https://www.pizzabouquet.ca/</a></li>
        <li><a href="https://weatherishappening.com/">https://weatherishappening.com/</a></li>
    </ul>
</ul>
<div style="clear:both"></div>

{{ partial "footer.html" . }}
